<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/error_popup.js') }}"></script>
    <title>Add Ingredient</title>
</head>
<body>
    <a href="/">Main Page</a>
    <h1>Add a New Ingredient</h1>
    <form method="POST" action="/ingredients/add">
        <label for="name">Ingredient Name:</label>
        <input type="text" name="name" required><br>

        <label for="price">Price per Unit:</label>
        <input type="number" name="price" step="0.01" required><br>

        <label for="stock">Stock:</label>
        <input type="number" name="stock" step="1" min="0">

        <button type="submit">Add Ingredient</button>
    </form>

    {% if error_message %}
    <script>
        showErrorPopup("{{ error_message|escapejs }}");
    </script>
    {% endif %}
    {% if success_message %}
    <script>
        showErrorPopup("{{ success_message|escapejs }}");
    </script>
    {% endif %}
</body>
</html>
