<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/error_popup.js') }}"></script>
</head>
<body>
    <a href="/">Main Page</a>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.balance }}</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="/users/add">
                    <label for="name">User Name:</label>
                    <input type="text" name="name" required><br>

                    <label for="balance">Balance:</label>
                    <input type="number" name="balance" step="0.1" required><br>

                    <label for="role">Role:</label>
                    <select name="role" id="newUserRole" required>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Wirt">Wirt</option>
                    </select>

                    <button type="submit">Add User</button>
                </form>
            </tr>
        </tbody>
    </table>
    {% if error_message %}
    <script>
        showErrorPopup("{{ error_message|escapejs }}");
    </script>
    {% endif %}
    {% if success_message %}
    <script>
        showErrorPopup("{{ success_message|escapejs }}");
    </script>
    {% endif %}
</body>
</html>
