body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

select#userSelect, select#productSelect {
    min-width: 200px;
    width: 200px;
}

.select2-container {
    min-width: 200px !important;
    width: 200px !important;
}

select {
    min-width: 200px;
    width: 200px;
}
